.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Movie-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.Movie-wrapper {
  width: 360px;
  background-color: whitesmoke;
  color: black;
  border-radius: 12px;
}

.Movie-search {
  height: 24px;
  width: 336px;
  font-size: 16px;
  margin-top: 24px;
  margin-bottom: 24px;
  padding: 12px;
  font-weight: bold;
}

.Movie-title {
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: medium;
}

.Movie-image {
  width: 360px;
  height: 480px;
}

.Movie-rate {
  color: darkgoldenrod;
  margin-top: 12px;
  font-weight: bold;
  font-size: 16px;
}

.Movie-date {
  margin-bottom: 12px;
  font-style: italic;
  font-size: 16px;
}

.Pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.Pagination button {
  background-color: #007BFF; /* Blue color */
  color: white;
  border: none;
  border-radius: 20px; /* Rounded shape */
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.Pagination button:disabled {
  background-color: #A9A9A9; /* Gray for disabled buttons */
  cursor: not-allowed;
}

.Pagination button:hover:not(:disabled) {
  background-color: #0056b3; /* Darker blue on hover */
}

.Pagination span {
  font-size: 16px;
  color: white; /* Text color for the page number */
}
